# Android
android-app/.gradle/
android-app/.idea/
android-app/local.properties
android-app/*.iml
android-app/.DS_Store
android-app/build/
android-app/app/build/
android-app/captures/
android-app/.externalNativeBuild/
android-app/.cxx/

# Node.js
server/node_modules/
server/.env
server/logs/
server/*.log
server/npm-debug.log*
server/yarn-debug.log*
server/yarn-error.log*

# OS
.DS_Store
Thumbs.db
desktop.ini

# IDE
.idea/
.vscode/
*.swp
*.swo
*~

# Logs
*.log

# Releases APK
releases/
*.apk
*.aab
android-app/*.keystore
android-app/app/release/

# Déploiement
backups/
deploy-config.json

